body {
  background-color: white;
  font-family: sans-serif;
}

label, input {
  display: block;
}

label {
  font-weight: bold;
}

input {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid darkgray;
}

button {
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}







